# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ladhome/.bash_history
ladhome/.bash_logout
ladhome/.bashrc
ladhome/.cache/motd.legal-displayed
ladhome/.profile
ladhome/.ssh/authorized_keys
ladhome/.ssh/id_rsa
ladhome/.ssh/id_rsa.pub
ladhome/.viminfo

